<a href="https://colab.research.google.com/github/shreyansh273/Football-Scouting/blob/main/PL_team_stats_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import sys, getopt
import csv

In [16]:
#scraping fbref website for Premire League team stats for 2020-21 season
url = 'https://fbref.com/en/comps/9/10728/stats/2020-2021-Premier-League-Stats'
html_content = requests.get(url).text.replace('<!--', '').replace('-->', '')
df = pd.read_html(html_content)
df[0].columns = df[0].columns.droplevel(0) # drop top header row
pl_team_stats = df[0]
pl_team_stats.head()

         Squad  # Pl   Age  Poss  MP  ...    xG    xA  xG+xA  npxG  npxG+xA
0      Arsenal    29  25.9  53.8  38  ...  1.41  0.96   2.37  1.29     2.25
1  Aston Villa    24  25.2  48.1  38  ...  1.39  0.98   2.37  1.28     2.25
2     Brighton    27  25.8  51.3  38  ...  1.36  0.87   2.23  1.18     2.05
3      Burnley    25  28.3  41.7  38  ...  1.05  0.71   1.76  0.99     1.70
4      Chelsea    27  26.0  61.4  38  ...  1.68  1.12   2.80  1.48     2.60

[5 rows x 29 columns]

In [17]:
#exporting the file
pl_team_stats.to_csv("pl_team_stats.csv")

In [18]:
from google.colab import files
files.download("pl_team_stats.csv")