<a href="https://colab.research.google.com/github/shreyansh273/Football-Scouting/blob/main/PL_team_stats_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import sys, getopt
import csv

In [ ]:
all_data = []
for i in range(1966,2006):
  for j in range(1,21):
    url = "https://www.transfermarkt.co.uk/spieler-statistik/wertvollstespieler/marktwertetop/plus/ajax/yw1/ausrichtung/alle/spielerposition_id/alle/altersklasse/alle/jahrgang/"+str(i)+"/land_id/0/kontinent_id/0/yt0/Show/0//page/"+str(j)
    heads = {'User-Agent' : 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.110 Safari/537.36'}
    html = requests.get(url, headers=heads).content
    soup = BeautifulSoup(html, "html.parser")
    table = soup.find("table", class_="items")
    if table:
      table_rows = table.find_all("tr", {"class": ["odd", "even"]})
      k=0
      for tr in table_rows:
        td = tr.find_all('td')
        name = tr.find_all("td")[3].text
        field_position = tr.find_all("td")[4].text
        age = tr.find_all("td")[5].text
        mv = tr.find_all("td")[8].text
        data = {'Name': name, 'Field Position': field_position, 'Age': age, 'Market Value (Million)': mv}
        all_data.append(data)
        k=k+1
      if k < 20:
        break
    else:
      break