<a href="https://colab.research.google.com/github/shreyansh273/Football-Scouting/blob/main/Player_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [266]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [243]:
all_data = []
for i in range(1966,2006):
  for j in range(1,21):
    url = "https://www.transfermarkt.co.uk/spieler-statistik/wertvollstespieler/marktwertetop/plus/ajax/yw1/ausrichtung/alle/spielerposition_id/alle/altersklasse/alle/jahrgang/"+str(i)+"/land_id/0/kontinent_id/0/yt0/Show/0//page/"+str(j)
    heads = {'User-Agent' : 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.110 Safari/537.36'}
    html = requests.get(url, headers=heads).content
    soup = BeautifulSoup(html, "html.parser")
    table = soup.find("table", class_="items")
    if table:
      table_rows = table.find_all("tr", {"class": ["odd", "even"]})
      k=0
      for tr in table_rows:
        td = tr.find_all('td')
        name = tr.find_all("td")[3].text
        field_position = tr.find_all("td")[4].text
        age = tr.find_all("td")[5].text
        mv = tr.find_all("td")[8].text
        data = {'Name': name, 'Field Position': field_position, 'Age': age, 'Market Value (Million)': mv}
        all_data.append(data)
        k=k+1
      if k < 20:
        break
    else:
      break

In [276]:
df = pd.DataFrame(all_data).sort_values(["Market Value"], ascending=[True])
print(df)

                     Name  Field Position Age Market Value
5290       Pedro Henrique     Left Winger  31      £1.08m
6423          Collins Fai      Right-Back  28      £1.08m
6422      Nemanja Nikolic  Centre-Forward  28      £1.08m
6421   Miljan Vukadinovic    Right Winger  28      £1.08m
6420           Gil Alcalá      Goalkeeper  28      £1.08m
...                   ...             ...  ..          ...
12604       Mario Aioanei        Defender  16       £9Th.
12603  Robert Ioan Mihaly        midfield  16       £9Th.
12602       Andrei Toader      Goalkeeper  16       £9Th.
12600    Thorlákur Baxter          attack  16       £9Th.
12918    Exequiel Mereles          attack  15       £9Th.

[12919 rows x 4 columns]

In [277]:
df["Market Value"] = np.where(df["Market Value"].str.contains("Th"), df["Market Value"].replace({'m': '', 'Th.': '', '£':''},regex=True).astype(float)/1000, df["Market Value"].replace({'m': '', 'Th.': '', '£':''},regex=True).astype(float))
df.columns = ["Name","Field Position", "Age", "Market Value (Millions)"]
print(df)

                     Name  Field Position Age  Market Value (Millions)
5290       Pedro Henrique     Left Winger  31                    1.080
6423          Collins Fai      Right-Back  28                    1.080
6422      Nemanja Nikolic  Centre-Forward  28                    1.080
6421   Miljan Vukadinovic    Right Winger  28                    1.080
6420           Gil Alcalá      Goalkeeper  28                    1.080
...                   ...             ...  ..                      ...
12604       Mario Aioanei        Defender  16                    0.009
12603  Robert Ioan Mihaly        midfield  16                    0.009
12602       Andrei Toader      Goalkeeper  16                    0.009
12600    Thorlákur Baxter          attack  16                    0.009
12918    Exequiel Mereles          attack  15                    0.009

[12919 rows x 4 columns]

In [278]:
print(df.sort_values("Market Value (Millions)", ascending=False))

                    Name  Field Position Age  Market Value (Millions)
9004       Kylian Mbappé  Centre-Forward  22                  144.000
10004     Erling Haaland  Centre-Forward  20                  117.000
6504          Harry Kane  Centre-Forward  27                  108.000
10005       Jadon Sancho    Right Winger  21                   90.000
6005              Neymar     Left Winger  29                   90.000
...                  ...             ...  ..                      ...
12912  Cristian Ciuperca      Goalkeeper  16                    0.009
12913     Ular Madaminov          attack  16                    0.009
12914   Aslan Baykadamov      Goalkeeper  16                    0.009
12915       Frank Chávez      Right-Back  16                    0.009
1003     Asparuh Vasilev          attack  39                    0.005

[12919 rows x 4 columns]

In [282]:
df[df.Name.str.contains("Ronaldo")]

                    Name      Field Position Age  Market Value (Millions)
3879   Ronaldo Conceição         Centre-Back  34                    0.360
9150      Ronaldo Vieira    Central Midfield  22                    4.500
2504   Cristiano Ronaldo      Centre-Forward  36                   40.500
12241     Ronaldo Kwateh        Right Winger  16                    0.045
4996       Ronaldo Alves         Centre-Back  32                    0.495
11573     Ronaldo Camará  Attacking Midfield  18                    0.585

In [283]:
df.to_csv("players_data.csv")

In [284]:
from google.colab import files
files.download("players_data.csv")