<a href="https://colab.research.google.com/github/shreyansh273/Football-Scouting/blob/main/Player_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [266]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [243]:
all_data = []
for i in range(1966,2006):
  for j in range(1,21):
    url = "https://www.transfermarkt.co.uk/spieler-statistik/wertvollstespieler/marktwertetop/plus/ajax/yw1/ausrichtung/alle/spielerposition_id/alle/altersklasse/alle/jahrgang/"+str(i)+"/land_id/0/kontinent_id/0/yt0/Show/0//page/"+str(j)
    heads = {'User-Agent' : 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.110 Safari/537.36'}
    html = requests.get(url, headers=heads).content
    soup = BeautifulSoup(html, "html.parser")
    table = soup.find("table", class_="items")
    if table:
      table_rows = table.find_all("tr", {"class": ["odd", "even"]})
      k=0
      for tr in table_rows:
        td = tr.find_all('td')
        name = tr.find_all("td")[3].text
        field_position = tr.find_all("td")[4].text
        age = tr.find_all("td")[5].text
        mv = tr.find_all("td")[8].text
        data = {'Name': name, 'Field Position': field_position, 'Age': age, 'Market Value (Million)': mv}
        all_data.append(data)
        k=k+1
      if k < 20:
        break
    else:
      break

In [290]:
df = pd.DataFrame(all_data)
df

                   Name      Field Position Age Market Value
0       Kazuyoshi Miura      Centre-Forward  54      £90Th.
1         Xiaolong Yang            Defender  47      £23Th.
2             Yi Zhuang              attack  48      £23Th.
3           Vasil Kirov  Attacking Midfield  45      £45Th.
4      Mohamed Karkouri            Defender  45      £45Th.
...                 ...                 ...  ..          ...
12914  Aslan Baykadamov          Goalkeeper  16       £9Th.
12915      Frank Chávez          Right-Back  16       £9Th.
12916        Zepeng Liu            Defender  16       £9Th.
12917    Zhicheng Zhang          Goalkeeper  16       £9Th.
12918  Exequiel Mereles              attack  15       £9Th.

[12919 rows x 4 columns]

In [291]:
df["Market Value"] = np.where(df["Market Value"].str.contains("Th"), df["Market Value"].replace({'m': '', 'Th.': '', '£':''},regex=True).astype(float)/1000, df["Market Value"].replace({'m': '', 'Th.': '', '£':''},regex=True).astype(float))
df.columns = ["Name","Field Position", "Age", "Market Value (Millions Pounds)"]
df

                   Name      Field Position Age  Market Value (Millions Pounds)
0       Kazuyoshi Miura      Centre-Forward  54                           0.090
1         Xiaolong Yang            Defender  47                           0.023
2             Yi Zhuang              attack  48                           0.023
3           Vasil Kirov  Attacking Midfield  45                           0.045
4      Mohamed Karkouri            Defender  45                           0.045
...                 ...                 ...  ..                             ...
12914  Aslan Baykadamov          Goalkeeper  16                           0.009
12915      Frank Chávez          Right-Back  16                           0.009
12916        Zepeng Liu            Defender  16                           0.009
12917    Zhicheng Zhang          Goalkeeper  16                           0.009
12918  Exequiel Mereles              attack  15                           0.009

[12919 rows x 4 columns]

In [292]:
df.sort_values("Market Value (Millions Pounds)", ascending=False, inplace=True)
df

                        Name  ... Market Value (Millions Pounds)
9004           Kylian Mbappé  ...                        144.000
10004         Erling Haaland  ...                        117.000
6504              Harry Kane  ...                        108.000
6004           Mohamed Salah  ...                         90.000
5504         Kevin De Bruyne  ...                         90.000
...                      ...  ...                            ...
12606  Niilo-Olavi Puustinen  ...                          0.009
12605              Ali Manaf  ...                          0.009
12604          Mario Aioanei  ...                          0.009
12603     Robert Ioan Mihaly  ...                          0.009
1003         Asparuh Vasilev  ...                          0.005

[12919 rows x 4 columns]

In [293]:
df[df.Name.str.contains("Ronaldo")]

                    Name  ... Market Value (Millions Pounds)
2504   Cristiano Ronaldo  ...                         40.500
9150      Ronaldo Vieira  ...                          4.500
11573     Ronaldo Camará  ...                          0.585
4996       Ronaldo Alves  ...                          0.495
3879   Ronaldo Conceição  ...                          0.360
12241     Ronaldo Kwateh  ...                          0.045

[6 rows x 4 columns]

In [283]:
df.to_csv("players_data.csv")

In [284]:
from google.colab import files
files.download("players_data.csv")